
.body1
{background-color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left:0px;
  height:1000px;
  z-index: -1;
}
.demo
{
  background-color: aquamarine;
  border: 1px solid black;
  padding: 5px;
  margin: 10px;
}
.image
{
  width: 80%;
  align-items: center;
  margin-top: 80px;
  margin-left: 50px;
}
.intro
{
  line-height: 1px;
  margin-top: 150px;
  margin-left: 50px;
  font-family: 'Times New Roman', Times, serif;
}
.hey
{
  color: pink;
  font-size: 25px;
  margin-bottom: 10px;
}
.name
{
  font-weight: bold;
  font-size: 60px;
  margin-top: 40px;
  margin-bottom: 60px;
}
.ujjwal
{
  color: coral;
}
.tiw
{
  color: white;
}
.web
{
  color: white;
  font-size: 25px;
  margin-top: 40px;
  margin-bottom: 20px;
}
.mainicon
{
    position: fixed;
    bottom: 10px;
    left: 43%;
    z-index: 1;
}
.icon
{
    list-style-type: none;
    border: 1px solid black;
    border-radius: 30px;
    height: 60px;
    
}
.icon li
{
    float: left;
    padding: 10px;
}
.body2
{
    background-color: rgba(0,0,0,0.8);
    position: absolute;
    top: 995px;
    left: 0px;
    width: 100%;
    height: 1200px;
}
.Iframe
{
  position: absolute;
  top: 50px;
  left: 50px;
  width: 30%;
  overflow: hidden;
}
.resume
{
  position: absolute;
  left: 200px;
  top: 700px;
  color: coral;
  font-size: 10px;
  font-family: cursive;
}
.main
{
    position: absolute;
    top: 200px;
    text-align: center;
    margin-right: 120px;
}
.about
{
    font-size: 90px;
    color: white;
    font-weight: bold;
    font-family:'Courier New', Courier, monospace;
}
.me
{
    font-size: 90px;
    color: white;
    font-weight: bold;
    font-family:'Courier New', Courier, monospace;
}
.developer
{
    font-size: 35px;
    color: coral;
}
.and
{
    font-size: 35px;
    color: white;
}
.designer
{
    font-size: 34px;
    color: coral;
}
.content
{
    font-size: 25px;
    color: white;
    line-height: 30px;
}
.website
{
    position: absolute;
    top:2140px;
    left: 0px;
    right: 0px;
    background-color: rgba(0,0,0,1);
    height: 600px;
}
.services
{
    color: white;
    font-size: 50px;
    padding: 20px;
    font-family:Georgia, 'Times New Roman';
    font-weight: bold;
    text-align: center;
}
.mainblock
{
    position: absolute;
    left: 15%;
    right: 15%;
}
.block
{
    background-color: rgba(30,30,30,1);
    color: white;
    width: 80%;
    height: auto;
    margin: 20px;
    text-align: center;
    border-radius: 20px;
    padding: 50px;
    font-family: Arial, Helvetica, sans-serif;
}
.block:hover
{
    background-color: rgba(60,60,60,1);
}
.subblock1
{
  color: coral;
    font-weight: bold;
    text-align: center;
    font-size: 25px;
}
.subblock2
{
    text-align: justify;
    font-size: 15px;
}